@using Shop.Domain.ViewModels.Site
@model List<ProductListItemViewModel>

@if (Model != null && Model.Any())
{
    <div class="col-12 d-inline-block">
        <div class="slider-widget-products">
            <div class="widget widget-product card">
                <header class="card-header">
                    <span class="title-one"> پرفروش ترین</span>
                    <h3 class="card-title"></h3>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">

                            @foreach (var item in Model)
                            {
                                <partial name="_ProductBox" model="item" />
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- brand--------------------------------------->
            <!-- brand----------------------------------------->
            <!-- Modal -->

        </div>
    </div>
}