<footer class="footer-main-site">
    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
        <div class="footer-shopping-features">
            <div class="container-fluid">
                <div class="col-12">
                  
                    <div class="item">
                        <span class="icon-shopping">
                            <img src="/images/footer/features/24-hours-support.svg" id="footerlogo"
                                 alt="پشتیبانی ۲۴ ساعته" class="img-shopping">
                        </span>
                        <span class="title-shopping">پشتیبانی همه روزه از ساعت 8 صبح الی 10  شب</span>
                        <span class="desc-shopping">پشتیبانی هفت روز هفته</span>
                    </div>
                    <div class="item">
                        <span class="icon-shopping">
                            <img src="/images/footer/features/original.svg" id="footerlogo"
                                 alt="ضمانت اصل‌بودن کالا" class="img-shopping">
                        </span>
                        <span class="title-shopping">ضمانت اصل‌بودن کالا</span>
                        <span class="desc-shopping">تایید اصالت کالا</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
        <div class="container-fluid">
            <div class="col-12">
                <div class="footer-middlebar">
                    <div class="col-lg-8 d-block pr">
                        <div class="footer-links">
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="#">
                                                با تاس لند
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    اتاق خبر  با تاس لند
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    فروش در تاس لند
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    همکاری با سازمان‌ها
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    فرصت‌های شغلی
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="#">
                                                خدمات مشتریان
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    پاسخ به پرسش‌های متداول
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    رویه‌های بازگرداندن کالا
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    شرایط استفاده
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    حریم خصوصی
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                                <div class="row">
                                    <section class="footer-links-col">
                                        <div class="headline-links">
                                            <a href="#">
                                                راهنمای خرید از تاس لند
                                            </a>
                                        </div>
                                        <ul class="footer-menu-ul">
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    نحوه ثبت سفارش
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    رویه ارسال سفارش
                                                </a>
                                            </li>
                                            <li class="menu-item-type-custom">
                                                <a href="#">
                                                    شیوه‌های پرداخت
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-block pl">
                        <div class="shortcode-widget-area">
                    
                                    <span class="form-newsletter-title">
                                       :شماره تماس
                                    </span>
                                    <div class="input-group-newsletter">
                                        <span class="form-newsletter-title">
                                           09353812764
                                        </span>
                                    </div>
                            
                        </div>
                    </div>
                    <div class="footer-more-info">
                        <div class="col-lg-10 pr">
                            <div class="footer-content d-block">
                                <div class="text pr-1">
                                    <h2 class="title">فروشگاه اینترنتی تاس لند</h2>
                                    <p class="desc">
                                        امکان خرید حضوری مقدور نمی باشد
                                    </p>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-2 pl">
                <div class="footer-safety-partner">
                    <div class="widget widget-product card mb-0">
                        <div class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                     style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                    <div class="owl-item active"
                                         style="width: 300.75px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#" class="d-block hover-img-link">
                                                <img src="/images/footer/license/L-1.png"
                                                     class="img-fluid img-brand" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item active"
                                         style="width: 300.75px; margin-left: 10px;">
                                        <div class="item">
                                            <a href="#" class="d-block hover-img-link mt-0">
                                                <img src="/images/footer/license/L-2.png"
                                                     class="img-fluid img-brand" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
                        <div class="footer-copyright">
                            <div class="footer-copyright-text">
                                <p>تمامی مطالب، عکس ها و... متعلق به سایت فروشگاهی تاس لند می باشد.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>