@model Shop.Domain.ViewModels.Account.ActiveForgotPasswordViewModel

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <div class="message-light">
                                        <form asp-controller="Account" asp-action="ActiveForgotPassword" method="post">
                                            <input type="hidden" asp-for="PhoneNumber" />
                                            <div class="account-box-verify-content">
                                                <div class="form-account">
                                                    <div class="form-account-title">کد فعال سازی پیامک شده را وارد کنید</div>
                                                    <div class="form-account-row">
                                                        <div class="form-group">

                                                            <input type="text" asp-for="ActiveCode" class="form-control">
                                                            <span asp-validation-for="ActiveCode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-account-row">
                                                <div class="receive-verify-code">
                                                    <p id="countdown-verify-end">
                                                        <span class="day">0</span><span class="hour">0</span><span>: 2</span><span>58</span>
                                                        <i class="fa fa-clock-o"></i>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="account-footer">
                                                <div class="account-footer">
                                                    <div class="form-row-account">
                                                        <button class="btn btn-primary btn-login">فعالسازی حساب کاربری</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/vendor/countdown.min.js"></script>

}
