
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=robots content=noindex,nofollow>

    <title>پنل مدیریت</title>

    <!-- Core CSS - Include with every page -->
    <link href="/AdminContent/css/bootstrap-rtl.css" rel="stylesheet">
    <link href="/AdminContent/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/AdminContent/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/AdminContent/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/AdminContent/css/sb-admin.css" rel="stylesheet">

    <link href="~/AdminContent/css/notifications.css" rel="stylesheet" />
    <link href="~/AdminContent/css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />


</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin">پنل مدیریت سایت</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>

                        <li>
                            <i class="fa fa-bar-chart-o fa-fw"></i> مدیریت کاربران<span class="fa arrow"></span>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-area="admin" asp-controller="Role" asp-action="Index">نقش ها</a>
                                </li>
                                <li>
                                    <a asp-area="admin" asp-controller="User" asp-action="Index">کاربران</a>
                                </li>
                            </ul>
                            <i class="fa fa-bar-chart-o fa-fw"></i> مدیریت محصولات<span class="fa arrow"></span>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-area="admin" asp-controller="Product" asp-action="ShowProductGroup">گروه محصولات </a>
                                </li>
                                <li>
                                    <a asp-area="admin" asp-controller="Product" asp-action="ShowProduct"> محصولات </a>
                                   
                                </li>
                                <li>
                                   
                                    <a asp-area="admin" asp-controller="Product" asp-action="ShowComment">کامنت ها </a>
                                </li>

                            </ul>
                            <i class="fa fa-bar-chart-o fa-fw"></i> مدیریت سایت<span class="fa arrow"></span>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-area="admin" asp-controller="Site" asp-action="ShowSlider">اسلایدر </a>
                                </li>

                            </ul>
                            <i class="fa fa-bar-chart-o fa-fw"></i> مدیریت سفارش ها<span class="fa arrow"></span>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-area="admin" asp-controller="Order" asp-action="ShowDiscount">کد تخفیف </a>
                                </li>
                                <li>
                                    <a asp-area="admin" asp-controller="Order" asp-action="FilterOrder">لیست سفارشات </a>
                                </li>
                                <li>
                                    <a asp-area="admin" asp-controller="Order" asp-action="ShowAllExpiredOrders"> مدیریت سفارشات منقضی </a>
                                </li>
                                <li>
                                    <a asp-area="admin" asp-controller="Order" asp-action="ShowTransportation"> مدیریت حمل و نقل </a>
                                </li>

                            </ul>
                            <i class="fa fa-bar-chart-o fa-fw"></i> مدیریت مقاله ها<span class="fa arrow"></span>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-area="admin" asp-controller="Article" asp-action="ShowArticle">لیست مقالات </a>
                                </li>


                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <partial name="_FooterAdminRefrences" />
    @RenderSection("Scripts", false)
    <partial name="_Message" />
</body>

</html>
