@model Shop.Domain.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر رمزعبور";
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name=robots content=index,follow>
<title>تغییر رمز عبور</title>

<div class="container-main">
    <div class="d-block">
        <section class="profile-home">
            <div class="col-lg">
                <div class="post-item-profile order-1 d-block">
                    <div class="col-lg-3 col-md-3 col-xs-12 pr">
                        @await Component.InvokeAsync("UserSideBar")
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <section class="page-account-box">
                                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                                        <div class="ds-userlogin">
                                            <a href="#" class="account-box-logo">digismart</a>
                                            <div class="account-box">
                                                <div class="Login-to-account mt-4">
                                                    <div class="account-box-content">
                                                        <h4 class="mb-2">@ViewData["Title"]</h4>
                                                        <form method="post" asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="form-account text-right">
                                                            <div class="form-account-title">
                                                                <label for="password">رمز عبور قبلی</label>
                                                                <input type="password" class="password-input" asp-for="OldPassword">
                                                                <span class="text-danger" asp-validation-for="OldPassword"></span>
                                                            </div>
                                                            <div class="form-account-title">
                                                                <label for="password">رمز عبور جدید</label>
                                                                <input type="password" class="password-input" asp-for="Password">
                                                                <span class="text-danger" asp-validation-for="Password"></span>
                                                            </div>
                                                            <div class="form-account-title">
                                                                <label for="password">تکرار رمز عبور جدید</label>
                                                                <input type="password" class="password-input" asp-for="ConfirmPassword">
                                                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                                            </div>
                                                            <div class="form-row-account">
                                                                <button class="btn btn-primary btn-login">تغییر رمز عبور</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}



